.login-container {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 25px;
  gap: 10px;
}

.submit {
  padding: 10px;
}

.error {
  color: red;
  font-weight: bold;
}
